JIRA_EMAIL=pradeep@gelato.com
JIRA_API_TOKEN=<your-jira-api-token>
JIRA_BASE_URL=https://gelato.atlassian.net
JIRA_CLOUD_ID=a3810e9a-c7d9-4f85-8bb5-6af045641b51
GITHUB_REPO=gelatoas/connect-mis-prototype
